/* Navbar Styles */
.navbar {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  width: 90%;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 20px;
  left: 50%; /* Mueve el navbar al centro del eje X */
  transform: translateX(-50%); /* Ajusta para centrar el elemento */
  z-index: 1000;
  margin: 10px auto;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  height: 35px;
  width: auto;
  margin-right: 10px;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 25px;
}

.nav-item a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #333;
  padding: 10px 15px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-item a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.nav-item a:active {
  background-color: #3498db;
  color: white;
}

/* Mobile Dropdown Menu */
.dropdown {
  display: none; /* Hide on desktop */
}

.dropdown-toggle {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown-toggle:hover {
  background-color: #2980b9;
}

.dropdown-menu {
  background-color: rgba(0, 138, 144, 1);
  border-radius: 10px;
  position: absolute;
  top: 70px;
  right: 0;
  left: 0;
  width: 30%;
  margin: 0 auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px 0;
  display: flex;
  flex-direction: column;
}

.dropdown-item {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1rem;
  color: #ffffff;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

.dropdown-item:active {
  background-color: #ffffff4f;
  color: white;
}

/* Show Dropdown Button on Mobile */
@media (max-width: 1024px) {
  .navbar {
    width: 87%; /* Aumentar el ancho del navbar para ocupar más espacio disponible */
  }
}

@media (max-width: 915px) {
  .navbar {
    width: 85%;
  }
  .nav-list {
    display: none; /* Hide desktop nav links */
  }

  .dropdown {
    display: block; /* Show dropdown on mobile */
  }
}

@media (max-width: 720px) {
  .navbar {
    padding: 10px 20px; /* Reducir padding para ahorrar espacio */
    width: 85%; /* Aumentar el ancho del navbar para ocupar más espacio disponible */
  }
}

@media (max-width: 480px) {
  .navbar-logo img {
    height: 25px; /* Smaller logo for smaller screens */
  }

  .dropdown-toggle {
    font-size: 1rem;
  }

  .dropdown-menu {
    width: 100%; /* Full width dropdown on mobile */
  }

  .dropdown-item {
    font-size: 0.9rem; /* Adjust text size for mobile */
  }
}
