.user-profile-page {
  display: flex;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  width: 80%;
  overflow: hidden;
}

/* Sección de imagen */
.user-profile-page::before {
  content: '';
  background-image: url("../../../public/images/backgrounds/view-hands.jpg"); /* Reemplaza con la URL de tu imagen */
  background-size: cover;
  background-position: center;
  width: 50%; /* La mitad para la imagen de fondo */
  display: block;
  margin-bottom: 30px;
  height: 600px;
} 

.profile-card {
  background-color: #fff;
  font-family: Arial, sans-serif;
  margin-top: 95px;
  width: 60%; /* La otra mitad para el formulario */
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.profile-title {
  font-size: 1.8rem;
  color: #333;
  font-weight: bold;
  margin-bottom: 30px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile-info p {
  font-size: 16px;
  color: #555;
  margin: 8px 0;
}

.profile-info strong {
  font-weight: 600;
  color: #333;
}

.profile-info p span {
  color: #777;
  font-weight: 400;
}

.profile-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 15px; 
  margin-top: 70px;
}

.profile-button {
  background-color: #4a90e2;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.profile-button:hover {
  background-color: #0388a6;
}

.button-icon {
  margin-right: 8px;
  font-size: 18px;
}

