/* Global Styles */
.about-us-container {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f5f5f5; /* Fondo suave para mejorar el contraste */
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

/* Intro Section - Centered Heading and Body */
.intro-section {
  display: flex;
  align-items: center;
  flex-wrap: nowrap; /* Evita que los elementos se apilen */
  justify-content: space-between;
  padding: 40px 20px;
  border-radius: 15px;
  margin: 0 auto;
  max-width: 1200px;
  margin-top: 35px;
  margin-bottom: 15px;
}

/* Contenedor de texto */
.intro-content {
  flex: 1; /* Ocupa el espacio disponible en el contenedor */
  max-width: 55%; /* Limita el ancho del texto para evitar que ocupe demasiado espacio */
}

.intro-section h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 15px;
}

/* Estilos para el Texto de la Introducción */
.intro-section p {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify;
}

/* Estilo de la imagen al lado derecho */
.intro-image-right {
  flex: 1;
  width: 50%; /* Ancho ajustado de la imagen */
  height: auto;
  border-radius: 20px;
  animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1); /* Tamaño inicial y final */
  }
  50% {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño */
  }
}

/* Heading and Image Flex Container */
.intro-section h1 {
  font-family: "Georgia", serif;
  font-size: 2rem; /* Slightly smaller font size */
  font-weight: bold;
  color: #333;
  margin-bottom: 5px; /* Reduced margin for compact spacing */
}

.image-about{
  width: 20%;
}
.intro-section hr {
  border: none;
  height: 7px;
  background-color: #c3e5f8;
  width: 50%;
  margin: 20px auto; /* Centrar la línea horizontalmente y ajustar el espaciado */
  border-radius: 25px; /* Bordes redondeados */
}

.header-section {
  text-align: center;
  position: relative;
  overflow: hidden;
}

.header-container-about-us {
  display: flex;
  justify-content: center;
  align-items: center; /* Centrado vertical y horizontal */
  height: 80vh; /* O ajustar según la altura deseada */
  position: relative;
  overflow: hidden;
}

.header-container-about-us h1 {
  margin: 0;
  font-size: 3.5rem; /* Ajusta el tamaño según sea necesario */
  color: #ffffff; /* Color de texto para contraste */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra para mayor visibilidad */
  position: absolute; /* Asegura que el texto esté centrado sin afectar el flujo */
  z-index: 1; /* Asegura que el texto esté por encima de la imagen de fondo */
}

.header-image {
  width: 100%;
  height: 80vh; /* Asegura que la imagen cubra toda la pantalla */
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; /* Imagen de fondo detrás del texto */
}


.header-section h2,
.header-section p {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-size: 1.5rem;
}

/* Resaltar Número de Diagnósticos */
.highlight h1{
  font-weight: bold; /* Resaltar el número de diagnósticos */
  color: #000000; /* Mantener el color blanco para el número */
  font-size: 1.5rem;
}

/* CTA Section Styling */
.cta-section {
  max-width: 600px; /* Original max width */
  padding: 20px 40px; /* Original padding */
  border-radius: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0 auto;
  transform: scale(0.5); /* Scales the entire section to 50% */
}

.mission-section {
  text-align: center;
  margin-top: 40px;
}

.mission-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.mission-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Hover Effect */
.mission-item:hover {
  transform: scale(1.05); /* Slight scale-up on hover */
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2); /* Deeper shadow for emphasis */
}

.mission-item {
  background-color: #ffffff; /* Default light gray color */
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for animation */
  margin-top: 40px;
}

/* Apply blue background for the 1st and 3rd items */
.mission-item:nth-child(1),
.mission-item:nth-child(3) {
  background-color: hsl(194, 61%, 79%); /* Light blue color */
}

.mission-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
}


.mission-item p {
  font-size: 1rem;
  color: #555;
}

/* Subscription Section */

.subscribe-section {
  background-color: #1e272e; /* Fondo oscuro */
  color: #ffffff; /* Texto blanco */
  padding: 10px 30px; /* Padding amplio */
  border-radius: 5px;
  max-width: 100%; /* Limitar el ancho de la sección */
  margin: 40px auto; /* Centrar la sección */
  margin-bottom: -45px;
}

.subscribe-section img {
  width: 10%;
  height: 10%;
  margin-left: 30px;
  margin-top: 25px;
  margin-bottom: -150px;
}

.subscribe-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
  margin-left: 30px;
}

.subscribe-form {
  display: flex;
  flex-direction: column; /* Disposición en columna */
  flex-direction: row;
  align-items: center; /* Alinear los elementos a la izquierda */
  gap: 15px; /* Espacio entre input y botón */
  margin-bottom: 20px;
}

/* Estilo para el Input */
.subscribe-input {
  padding: 15px;
  width: 600px; /* Tamaño específico para un mejor diseño */
  border: 1px solid #f4f5f6;
  font-size: 1rem;
  margin-left: 300px;
  background-color: transparent;
}

.subscribe-button {
  padding: 15px 25px;
  color: white;
  background-color: transparent;
  border: 3px solid #008a90;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.subscribe-button:hover {
  background-color: #2980b9;
}

.subscribe-section p {
  margin-top: 20px;
  font-size: 0.9rem;
  color: #ffffff;
  margin-left: 300px;
}

/* Sección del Botón */
.button-section {
  margin-top: 80px;
  margin-bottom: 80px;
}

/* Contenedor del Botón */
.button-wrapper {
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-button {
  padding: 25px 30px;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background-color: #3498db;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

/* Efecto hover para el botón */
.cta-button:hover {
  background-color: #2980b9;
  transform: scale(1.05);
}

/* Texto dentro del Botón */
.button-text {
  margin-right: 20px;
}

/* Imagen dentro del Botón */
/* Definir la Animación Circular */
@keyframes move-circle {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(30px, 0); /* Mover hacia la derecha */
  }
  50% {
    transform: translate(30px, 30px); /* Mover hacia abajo */
  }
  75% {
    transform: translate(0, 30px); /* Mover hacia la izquierda */
  }
  100% {
    transform: translate(0, 0); /* Volver a la posición inicial */
  }
}

/* Imagen dentro del Botón */
.button-image {
  width: 8%;
  height: 8%;
  position: relative;
  animation: move-circle 6s linear infinite; /* Animación circular continua */
  transition: transform 0.3s ease; /* Transición para el efecto hover */
}

/* Custom line to separate AboutUsPage footer from the global footer */
.custom-line {
  border: none;
  height: 2px; /* Set the thickness of the line */
  background-color: #bdc3c7; /* Light color for separation */
  width: 80%; /* Adjust width as needed */
  margin: 30px auto; /* Center the line with top and bottom spacing */
  opacity: 0.7; /* Slight transparency for a subtle effect */
  border-radius: 25px; /* Rounded edges for a modern look */
}

/* Estilo para el CTA Separator */
.cta-separator-about {
  background: linear-gradient(90deg, #0a1f44, #0d3b66);
  color: #ffffff;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin-top: 45px;
}

.cta-content-about {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px 40px;
  border-radius: 50px;
  position: relative;
}

.cta-icon-about {
  width: 50px;
  height: 50px;
}

.cta-content-about p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
}

.cta-button-small {
  background-color: #1c6dd0;
  color: #ffffff;
  border: none;
  padding: 8px 20px;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button-small:hover {
  background-color: #155a9a;
}

/* Animación para el icono de avión */
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Mover hacia arriba */
  }
  100% {
    transform: translateY(0); /* Regresar a la posición inicial */
  }
}

/* Aplicación de la animación al icono */
.cta-icon-about {
  width: 50px;
  height: 50px;
  animation: float 3s ease-in-out infinite; /* Ajusta la duración y repetición */
}


/* Media Queries para Adaptabilidad */


/* Dispositivos medianos (max-width: 768px) */
@media (max-width: 768px) {
  .intro-section {
    max-width: 90%;
    margin: 75px auto 10px;
  }
  .header-container-about-us{
    height: 40vh;
  }
  .header-container-about-us h1 {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 55px;
  }
  
  .header-image {
    height: 40vh; 
  }

  .header-section h2{
    text-align: center;
    font-size: 1.5rem;
  }

  .header-section p{
    width: 400px;
    margin-left: -100px;
    font-size: 15px;
  }
  .intro-section {
    flex-direction: column; /* Cambia la dirección de los elementos a columna */
    align-items: center; /* Centra los elementos */
    padding: 20px; /* Reduce el padding para pantallas pequeñas */ 
  }

  .intro-image-right {
    margin-top: 25px;
    width: 75%; /* Ajusta el ancho de la imagen para que no ocupe toda la pantalla */
    margin-bottom: 20px; /* Añade un margen inferior para separar de texto */
  }

  .intro-text {
    text-align: center; /* Centra el texto */
    padding: 0 15px; /* Ajusta el padding para que el texto tenga un margen */
  }

  .cta-box {
    left: 50%;
    width: 390px;
    height: 155px;
  }

  .subscribe-section img {
    width: 20%;
    margin-bottom: -50px;
    margin-left: 160px;
  }

  .subscribe-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }

  .subscribe-input {
    margin-left: 20px;
  }

  .subscribe-section p {
    margin-top: 70px;
    margin-left: 20px;
    margin-bottom: 10px;
  }

  .footer-links {
    gap: 15px;
  }

  .footer a {
    font-size: 0.65rem;
  }

  .footer-copyright {
    margin-left: 40px;
    margin-top: 15px;
  }


}

/* Dispositivos muy pequeños (max-width: 480px) */

@media (max-width: 480px) {
  .intro-section {
    margin: 50px auto 10px;
    padding: 15px;
  }

  .header-image {
    height: 30vh;
  }

  .cta-box {
    font-size: 1rem;
    padding: 10px 15px;
  }

  .subscribe-title {
    font-size: 1.5rem;
  }

  .subscribe-input {
    width: 90%;
    margin-bottom: 10px;
  }

  .subscribe-button {
    width: 90%;
  }

  .footer-links {
    flex-direction: column;
    align-items: center;
  }

  .footer a {
    font-size: 0.8rem;
  }

  .footer-copyright {
    font-size: 0.7rem;
  }
}
/* Dispositivos muy pequeños (max-width: 431px) */
@media (max-width: 431px){
  .header-container-about-us{
   height: 30vh;
  }
  .header-container-about-us h1 {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 55px;
  }

  .header-image {
    height: 30vh; 
  }

  .header-section p{
    width: 350px;
    margin-left: -90px;
    font-size: 15px;
  }
}

/* Dispositivos muy pequeños (max-width: 415px) */
@media (max-width: 415px){
  .header-container-about-us{
   height: 30vh;
  }
  .header-container-about-us h1 {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 55px;
  }

  .header-image {
    height: 30vh; 
  }
  .header-section h2{
    text-align: center;
    font-size: 1.4rem;
  }

  .header-section p{
    width: 350px;
    margin-left: -90px;
    font-size: 15px;
  }
}
/* Dispositivos muy pequeños (max-width: 412px) */
@media (max-width: 413px){
  .header-container-about-us{
   height: 30vh;
  }
  .header-container-about-us h1 {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 55px;
  }

  .header-image {
    height: 30vh; 
  }

  .header-section p{
    width: 100%;
  }

  .intro-section p {
    width: 250px;
    margin-left: -63px;
    font-size: 15px;
  }

  .header-section h2{
    width: 100%;
    margin-left: -30px;
  }
  .cta-content-about p{
    font-size: 12px;
  }
  .cta-button{
    width: 60%;
    font-size: 15px;
  }

}

/* Dispositivos muy pequeños (max-width: 375px) */

@media (max-width: 376px){
  .header-container-about-us{
    height: 40vh;
  }
    .header-container-about-us h1 {
    font-size: 1.2rem;
  }

  .intro-section p {
    margin-left: -75px;
  }
}

/* Dispositivos muy pequeños (max-width: 361px) */
@media (max-width: 361px){
  .header-container-about-us{
    height: 30vh;
  }
  .header-container-about-us h1 {
    text-align: center;
    font-size: 1rem;
    margin-top: 55px;
  }
  .intro-section p {
    max-width: 250px;
  }

  .header-section p{
    width: 350px;
    margin-left: -60px;
    font-size: 15px;
  }
}

/* Dispositivos muy pequeños (max-width: 344px) */
@media (max-width: 344px){
  .header-container-about-us{
    height: 30vh;
  }
  .header-container-about-us h1 {
    text-align: center;
    font-size: 1rem;
    margin-top: 35px;
  }
  .intro-section p {
    max-width: 250px;
  }
}
   