.custom-map {
  height: 600px; /* Adjust height */
  width: 80%; /* Adjust width */
  margin: 0 auto; /* Center align if needed */
}

/* Map styling */
.leaflet-tile {
  background-color: transparent !important;
  border: none !important;
}

.leaflet-tile-container {
  transform: translateZ(0); /* Forces hardware acceleration */
}

.leaflet-container {
  background-color: #f0f0f0; /* Adjust to match map styling */
  height: 400px;
  width: 80%;
}
