.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease infinite;

  /* Center the spinner */
  display: block;
  margin: 0 auto; /* Center horizontally */

  /* Add bottom margin */
  margin-bottom: 40px;
}

.diagnosis-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  text-align: center;
  margin-left: 50px;
  height: 100%;
  background-color: #ffffff; /* Cambia a blanco para un look más limpio */
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Sombra sutil para resaltar el contenedor */
  transition: transform 0.3s ease; /* Transición suave para el hover */
}

.diagnosis-container:hover {
  transform: scale(1.02); /* Efecto de aumento al pasar el mouse */
}

.diagnosis-container h2 {
  font-size: 1.5rem;
  color: #0388a6;
  margin: auto;
  margin-top: 35px;
}


.introduction {
  display: flex;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.back-button {
  display: block; /* Make the button a block element */
  margin: 30px auto; /* Center the button horizontally */
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #393e46; /* Dark gray background */
  color: white; /* White text color */
  border: none;
  border-radius: 5px;
  text-align: center; /* Ensure text is centered */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.back-button:hover {
  background-color: #555; /* Slightly lighter gray on hover */
}
.hero-container-form {
  display: flex;
  align-items: flex-start; /* Alinea ambos elementos hacia la parte superior */
  justify-content: space-between; /* Coloca el texto y la imagen a cada lado del contenedor */
  flex-direction: column;
  padding: 40px;
  max-width: 1200px; /* Define el ancho máximo del contenedor */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.text-content h1 {
  max-width: 500px;
  font-size: 3rem;
  margin-bottom: 10px;
  margin-top: 180px;
  color: #0388a6;
  margin-left: 50px;
}

.text-content p {
  color: #393e46;
  font-size: 1rem;
  margin-left: 50px;
}

.button-container-symptom-form {
  display: flex;
  flex-direction: row;
}

.cta-button-form {
  padding: 10px 20px;
  background-color: #393e46;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 50px;
  margin-bottom: 90px;
  width: 210px;
  font-size: 1rem;
}

.cta-button-form :hover {
  background-color: #644cba;
}

.diagnostic-image-form {
  margin-top: 160px;
  max-width: 90%; /* Reducir ligeramente el ancho máximo para darle más espacio al contenedor */
  height: auto; /* Mantiene la proporción de la imagen */

}

.seccion-symptoms {
  text-align: center;
  padding: 20px 20px;
  margin: 0px auto;
  max-width: 1200px;
}

.seccion-symptoms h2 {
  font-size: 2rem;
  color: #4e3f91; /* Color de tu elección */
  margin-bottom: 10px;
}

.seccion-symptoms p {
  font-size: 1rem;
  color: #666;
}

.seccion-symptomsForm {
  display: inline-block;
height: 168.6px;
  width: 250px; /* Ajuste del ancho de cada tarjeta */
  padding: 20px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.seccion-symptomsForm:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.seccion-symptomsForm img {
  width: 35px;
  height: 35px;
}

.seccion-symptomsForm h3 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
}

.seccion-symptomsForm p {
  font-size: 0.7rem;
  color: #555;
  line-height: 1.5;
}


.combobox-container {
  align-items: center; /* Alinea el contenido verticalmente */
  justify-content: space-between; /* Añade espacio entre el Select y el botón */
  padding: 15px; /* Espacio interno para que el contenido no esté pegado al borde */
  margin: auto; /* Centrar horizontalmente y añadir espacio vertical */
  min-width: 80%; /* Ancho máximo para el combobox */
  margin-top: 30px;
  border-radius: 25px;
}

.combobox-container label {
  margin-top: 50px;
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
  font-weight: bold;
}

.symptom-combobox {
  display: flex;
  margin-top: 10px;
  max-width: 700px;
  margin-left: 190px;
}

.buttons-container {
  align-items: center;
  margin: auto;
}

.seleccionar-sintoma {
  min-width: 500px;
}

/*Botones*/
.buttons-container button {
  background-color: #393e46;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.buttons-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente los botones */
  gap: 15px; /* Espacio entre botones */
  margin-bottom: 40px;
}

.eliminar-btn-container {
  margin-left: 10px;
  background: none;
  border: none;
  font-size: 20px;
}

.eliminar-btn {
  margin-left: 10px;
  color: rgb(255, 255, 255);
  background-color: rgb(196, 22, 22);
  border-radius: 50%;
  padding: 5px;
  font-size: 24px;
  margin-top: 2px;
}

.eliminar-btn:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(124, 16, 16);
}

.easy-section-container{
width:100%;
}

.easy-section-instruction-title h2{
  text-align: center;
}

.categoria {
  display: flex;
  flex-direction: column; /* Coloca la imagen arriba del texto */
  align-items: center; /* Alinea horizontalmente ambos elementos */
  text-align: center; /* Centra el texto debajo de la imagen */
  padding: 20px; /* Espacio alrededor del contenido */
  margin-bottom: 30px;
}

.categoria h2 {
  font-size: 1.5rem; /* Ajusta el tamaño del texto */
  font-weight: bold;
  margin: 0; /* Elimina el margen superior e inferior */
  color: #333; /* Color del texto */
  margin: auto;
  margin-bottom: 25px;
}
.combobox-categorias {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: #ffffff; /* Cambia a blanco para un look más limpio */
  border-radius: 20px;
  width: 72%;
  height: 100%;
  margin-bottom: 100px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Sombra sutil para resaltar el contenedor */
  transition: transform 0.3s ease; /* Transición suave para el hover */
}

.combobox-categorias:hover {
  transform: scale(1.02); /* Efecto de aumento al pasar el mouse */
}

.combobox-categorias h2 {
  text-align: center;
  color: black;
}

/* Footer Section */
.footer {
  display: flex;
  justify-content: space-between; /* Distribuir los elementos a lo largo del contenedor */
  align-items: center; /* Alinear todos los elementos verticalmente al centro */
  padding: 20px;
  background-color: #1e272e; /* Fondo del pie de página */
  color: #ffffff; /* Color de los textos del pie de página */
  flex-wrap: wrap; /* En caso de pantallas pequeñas, los elementos pueden moverse */
}

.footer-links {
  display: flex;
  gap: 20px; /* Espacio entre los enlaces */
}

.footer-copyright {
  display: flex;
  justify-content: flex-end; /* Alinear el copyright a la derecha */
  align-items: center; /* Asegurarse de que estén a la misma altura */
}

.footer a {
  text-decoration: none;
  color: #ffffff;
  font-size: 0.9rem;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-links {
  display: flex;
  justify-content: flex-start;
}

.footer-copyright {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.group-buttons {
  display: grid;
  grid-template-columns: repeat(8, 1fr); /* Define exactamente 7 columnas */
  max-width: 50%; /* Ancho máximo del contenedor para controlar el diseño */
  margin: 0 auto; /* Centrar el contenedor en la página */
  gap:10px;
  margin-top: 20px; /* Separación superior */
  justify-content: center; /* Centra los botones horizontalmente dentro del contenedor */
}

.group-button {
  background-color: #e0f7f7;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  font-size: 0.7rem;
  color: #333;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
  width: 110px;
  min-height: 40px;;
  margin: 0 auto; /* Centrar el contenedor en la página */
}

.group-button:hover {
  background-color: #b2e2e2;
  color: #000;
}

.group-button.active {
  background-color: #0388a6;
  color: #fff;
}

@media (max-width: 1024px) {
  .group-buttons{
    grid-template-columns: repeat(6, 1fr); /* Define exactamente 7 columnas */
  }
}